body {
    background-color: gray
}

button  {
    padding: 5px 20px;
    border-style: hidden;
    border-radius: 20px;
    color: rgb(239, 239, 239);
    background-color: rgb(72, 72, 72);
    font-weight:200;
}

.buttonBox {
    display: flex;
    justify-content: center;
}
#sketchBox  {
    border: 2px solid black;
}

#sketchBoxContainer  {
   display: flex;
   justify-content: center;
   margin: 20px;
}

#newSketch  {
    margin-top: 25%
    /*places sketchBox below the prompt popup*/
}
